# Export all names
exportPattern(".")

# Export specific functions
#export(StandardiseMolecules)
#export(GeneratePadelDescriptors)

# Import all packages listed as Imports or Depends
import(
  kernlab,
  gbm,
  rJava,
  caret,
  impute
)

useDynLib(camb)
